BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
PointerAlignment: Right
ReferenceAlignment: Right
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
DerivePointerAlignment: false
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<windows\\.h>$'
    Priority: 1
  - Regex: '^<[^/].*\\.h>$'
    Priority: 2
  - Regex: '^<.*>$'
    Priority: 3
  - Regex: '^".*"$'
    Priority: 4
NamespaceIndentation: All
Cpp11BracedListStyle: true
PenaltyBreakAssignment: 1000
