.vs/
.vscode/
.idea/
.zed/

build/
build-*/
out/
_CPack_Packages/
CaptureZY-*.zip

CMakeUserPresets.json
CMakeCache.txt
compile_commands.json
run-clang-tidy.py

*.user
*.VC.db
*.VC.opendb
*.ilk
*.obj
*.pdb
*.ipch
*.log
*.tmp
